{% extends 'base/main.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}


{% block content %}

<section class="container section--2">
    <div class="container-fluid fh5co_fh5co_bg_contcat">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"> Contact </div>
                </div>
                <div class="col-md-6">
                    <div class="my-5"></div>
                    <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}