{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<section class="hero" id="my-hero">
    <div class="hero--content">
        <div class="hero--content--intro">
            <img id="profile_pic" src="{% static 'images/profile.jpg' %}" alt="profile_pic">
            <h2 class="intro--name">Dang <br> Ha</h2>
        </div>
    </div>
    <div class="pb-2">
        <h5 class="description">Backend Python Developer</h5>
    </div>
</section>

<section class="container section--2" id="my-experience">
    <div class="container">
        <h4>MY EXPERIENCE</h4>
        <div class="container mt-3">
            <p>Experienced back-end developer with 3+ years in Python and system optimization.
                Seeking opportunities to contribute technical expertise and drive innovation.</p>
            <p>Key skills: Python, Fast API, Django/DRF, GraphQL, Oracle SQL, MySQL, PostgreSQL, Redis, Celery, MongoDB, Docker, K8S</p>
        </div>
    </div> 
</section>

<section class="container section--1" id="my-certificate">
    <div class="container">
        <h4>MY CERTIFICATE</h4>
        <div class="container mt-3">
            <p>TOEIC Test Certification with a total score of 830 - May 2021</p>
            <p>Python Developer Certificate - November 2021</p>
        </div>
    </div> 
</section>

<section class="container section--2" id="my-projects">

    <h4>MY PROJECTS</h4>
    <div class="projects--wrapper">

        {% for project in projects %}
        <div class="project--column">
            <a href="{% url 'base:project' project.id %}">
                <img class="project--thumbnail" src="{{project.thumbnail.url}}" alt="thumb_nail">
            </a>
            <div class="project--body">
                <h5>{{project.title}}</h5>
            </div>
        </div>
        {% empty %}

        <h3>There are no projects in the database...</h3> {% endfor %} </div>


        <div class="about--wrapper">
            <h3>Career Objective</h3>
            <div class="container">
            <p>
                I want to use my knowledge and skills to gain practical exposure and understand the
                inner-workings of the company. I’d like to learn on the job and grow individually.
            </p>
            <p>
                My time management skills were not the best in high school, but I’ve found that through
                completing my degree, I quickly learnt how to prioritize multiple tasks and meet tight deadlines.
                So it’s something I want to keep working on when I’m in full-time employment.
            </p>
            <p>
                Self-motivated and hardworking fresher seeking for an opportunity to work in a challenging
                environment to prove my skills and utilize my knowledge & intelligence in the growth of the company
            </p>
            </div>
        </div>

</section>

<section class="section--1" id="my-skills">
    <div class="container">
        <h4>MY SKILLS</h4>
    </div>
    <div class="skills--container">
        {% for skill in detailedSkills %}
        <div class="skill--wrapper">
            {% if skill.logo %}
            <img class="skill--logo" src="{{skill.logo.url}}" alt="logo">
            {% endif %}
            <div>
                <h5>{{skill.title}}</h5>
                <div class="container">
                    <p>{{skill.body|safe}}</p>
                </div>
            </div>

        </div>
        {% endfor %}


        <h4>Other Skills</h4>
        <div class="other--skills--wrapper">
            {% for skill in skills %}
            <div class="skill--tag">
                <span>{{skill.title}}</span>
            </div>
            {% endfor %}

        </div>
    </div>

</section>


<section class="container section--2" id="your-endorsements">
    <h4>ENDORSEMENTS</h4>
    <div class="skills--container">


        {% for i in endorsements %}
        <div style="margin-bottom: 2em;" class="card">
            <div class="card-body">
                <h5>{{ i.name }}</h5>
                <p>{{ i.body }}</p>                
            </div>
        </div>
        {% endfor %}
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'base:add-endorsement' %}">Add Endorsement</a>
        </div>
    </div>
</section>


<section class="section--1" id="my-location">
    <div class="container">
        <h4>MY LOCATION</h4>
        <div class="container container-iframe text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15681.413955960297!2d106.6427911!3d10.7071945!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf765616ff7ca94d!2sChung%20c%C6%B0%20The%20Mansion!5e0!3m2!1sen!2s!4v1662391182988!5m2!1sen!2s" class="map_sss responsive-iframe" allowfullscreen></iframe>
        </div>
    </div>
</section>


<section class="container section--2" id="message-me">
    <h4>MESSAGE ME</h4>
    <form class="contact--form" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">{{ form.name.label }}</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.email.label }}</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.subject.label }}</label>
            {{ form.subject }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.body.label }}</label>
            {{ form.body }}
        </div>

        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
    </form>

</section>


<section class="container section--1" id="contact-me">
    <h4>CONTACT ME</h4>
    <div class="container-fluid">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-4 py-3">
                    <div class="row">
                        <div class="col-3">
                            <div> <span><i class="fa fa-phone fa-2x"></i></span> </div>
                        </div>
                        <div class="col-9 align-self-center">
                            <span class="d-block">Call Me</span>
                            <span class="d-block "> (+84) 349 998 172 </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-4 py-3">
                    <div class="row">
                        <div class="col-3">
                            <div> <span><i class="fa fa-envelope fa-2x"></i></span> </div>
                        </div>
                        <div class="col-9 align-self-center">
                            <span class="d-block">My Email</span>
                            <span class="d-block">hadh31011999@gmail.com</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="row">
                        <div class="col-3">
                            <div> <span><i class="fa fa-map-marker fa-2x"></i></span> </div>
                        </div>
                        <div class="col-9 align-self-center">
                            <span class="d-block">Address</span>
                            <span class="d-block"> The Mansion Apartment, Ho Chi Minh, Vietnam</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}