{% load custom_tags %}

<section style="background-color: #354955; font-family: Arial, Helvetica, sans-serif;">
    <div class="container navigation-bar topnav" id="myTopnav">

        {%  if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'base:home' %}">
                Projects
            </a>
            <a class="nav-link" href="{% url 'base:inbox' %}">
                Inbox
            </a>
            <a class="nav-link" href="{% url 'base:add-project' %}">
                Add Project
            </a>
            <a class="nav-link" href="{% url 'base:add-skill' %}">
                Add Skill
            </a>
        {% else %}
            <a class="nav-link" href="{% url 'base:home' %}">
                Home
            </a>
            <a class="nav-link" href="{% anchor 'base:home' 'my-projects' %}">
                My projects
            </a>
            <a class="nav-link" href="{% anchor 'base:home' 'my-skills' %}">
                My skills
            </a>
            <a class="nav-link" href="{% anchor 'base:home' 'my-location' %}">
                My location
            </a>
            <a class="nav-link" href="{% anchor 'base:home' 'message-me' %}">
                Message me
            </a>
            <a class="nav-link" href="{% anchor 'base:home' 'contact-me' %}">
                Contact me
            </a>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

</section>

